.chart-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

.chart-container .chart-wrapper {
    position: relative;
    margin: 0 auto;
}

.chart-container h1, h4 {
    text-align: center;
}

@media (max-width: 800px) {
    h1 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .chart-wrapper {
        height: 300px;
    }
}
